.Out-of-Stock{
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid red;
    color: black;
}
.due{
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid darkblue;
    color: black;
}